.App {
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

 label {
}

input {
    justify-content: center;
    margin: auto;
    width: 5rem;
} 

input:focus {
    outline: 2px solid lightgreen
}

form > p {
    margin:auto;
    width: fit-content;
    padding: .5em;
    height: 1em;
    border-color: green;
    border-style: solid;
}


